.custom-left-sidebar {
  width: 200px;
  background-color: white;
  border-radius: 4px;
  padding: 16px;
  display: grid;
  gap: 16px 0;
  box-shadow:
    0 1px 3px 0 rgb(0 0 0 / 0.1),
    0 1px 2px -1px rgb(0 0 0 / 0.1);
  box-sizing: border-box;

  .custom-left-menu-title {
    font-weight: bold;
    margin-bottom: 8px;
    text-align: center;
  }

  .custom-left-menu-content {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;

    .custom-left-menu-content-item {
      width: 36px;
      height: 36px;
      border-radius: 4px;
      background-color: rgba(128, 128, 128, 0.1);
      cursor: pointer;
      caret-color: transparent;

      &:hover {
        background-color: rgba(128, 128, 128, 0.2);
      }

      & > span {
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }
  }
}

.custom-project-menu {
}

.custom-layout-menu {
  .custom-left-menu-content-select {
    flex: 1;

    .ant-select-selector {
      height: 36px;
    }
  }
}

.custom-edge-menu {
}

.custom-node-menu {
}

.custom-project-modal {
  .class-project-modal-content {
    display: grid;
    gap: 16px;

    .class-project-modal-content-item {
      display: grid;
      gap: 8px;

      .class-project-modal-content-item-title {
        display: flex;
        align-items: center;
        justify-content: space-between;

        & > span:last-child {
          cursor: pointer;
          caret-color: transparent;
        }
      }
    }

    .class-project-modal-content-btnGroup {
      display: flex;
      align-items: center;
      gap: 8px;

      .ant-btn,
      .ant-upload-wrapper,
      .ant-upload-select {
        flex: 1;
        width: 100%;
      }
    }
  }
}
