.custom-right-sidebar {
  width: 200px;
  background-color: white;
  border-radius: 4px;
  padding: 16px;
  display: grid;
  gap: 16px 0;
  box-shadow:
    0 1px 3px 0 rgb(0 0 0 / 0.1),
    0 1px 2px -1px rgb(0 0 0 / 0.1);
  box-sizing: border-box;
}
